html, body {
  height: 100%;
}

:root {
--header-height: 4.5rem;
}


body::-webkit-scrollbar {
  width: 0.75rem;
}

body::-webkit-scrollbar-track {
  background: #924f7c;
}

body::-webkit-scrollbar-thumb {
  background: #28c528;
}


.before li {
  margin: 5px;
}

main {
  display: grid;
  grid-template-areas:
      "navbar"
      "mid"
      "footer";

  row-gap: 1rem;
}

header {
  grid-area: navbar;
  height: var(--header-height);
}

section {
  max-width: 960px;
  grid-area: mid;
  display: grid;
  grid-template-areas: 
        "content  facebook";

  grid-template-columns: 5fr 2fr;
  justify-content: center;
  margin: auto;
}

article {
  grid-area: content;
}

aside {
  grid-area: facebook;
}

footer {
  grid-area: footer;
}



/*****************/
/*** NAVBAR ******/
/*****************/

.navbar {
  position: fixed;
  background-color: rgb(51, 243, 153);
}

.navbar-nav {
  max-width: 960px;
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 95%;
  background-color: mintcream;
}

.nav-item {
  border: 1px dotted red
}

.nav-item:first-child {
  padding-inline-end: 7%;
}

.logo {
  margin:0
}

/* Big screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    height: var(--header-height);
    width: 100vw;
  }
}
