html, body {
  height: 100%;
}




.before li {
  margin: 5px;
}

main {
  display: grid;
  grid-template-areas:
      "navbar"
      "mid"
      "footer";

  
}

header {
  grid-area: navbar;

}

section {
  max-width: 960px;
  grid-area: mid;
  display: grid;
  grid-template-areas: 
        "content  facebook";

  grid-template-columns: 5fr 2fr;
  justify-content: center;
  margin: auto;
}

article {
  grid-area: content;
}

aside {
  grid-area: facebook;
}

footer {
  grid-area: footer;
}