.mainDiv {
  width: 65%;
  float: left;
  margin-bottom: 2vh;
}

.fbDiv {
  width: 35%;
  float: left;
  text-align: center;
  padding-bottom: 3vh;
}

@media screen and (max-width: 600px) {
  .mainDiv {
    width: 100%;
  }

  .fbDiv {
    width: 95%;
  }
}

.footer {
  background-color: lightcyan;
}

.before li {
  margin: 5px;
}